header {
  
    
    background-color: rgba(255, 255, 255, 0.9);
    height: 50px;
position: sticky;
top: 0;}

body {
    font-family: Roboto;
    background-color: rgb(124, 117, 117);
 
}

.links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 30%;
    margin: 30px;

}

ul a {
    text-decoration: none;
    color: rgb(10, 10, 10);
}
.links li :hover {
    color: rgb(108, 140, 246);
    text-decoration: underline;
  }
  h1{ color: #8f1d1d; }
  

.info{ text-decoration: indianred;
    list-style:;
}

.p11 .p1 {  color: rgb(16, 65, 225);
list-style: none;

width: 30%;

width: 500px;



}
.p22 .p2 { color: rgb(16, 65, 225);
    list-style: none;
    
    width: 30%;
    
    width: 500px;
    
    
        
    
}
#work{ display: flex;
    
}
.contact{margin-top: 20px;}
.info{text-decoration:underline rgb(213, 254, 255);
}
.contact{text-decoration-color:  rgb(16, 65, 225);;}
footer p{text-align: center;}
footer{background-color: rgb(228, 221, 221); height: 70px;
padding-top: 10px;}
